@dark-orange: hsl(20, 100%, 35%);
@light-orange: hsl(19, 100%, 90%);
@orange: hsl(21, 100%, 50%);
@dark-blue: hsl(178, 100%, 35%);
@light-blue: hsl(177, 100%, 65%);
//Deals witht he jumbotron banner done through bootstrap
.jumbotron {
    position: relative;
    background: #000 url('restaurant_banner.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: @dark-orange;
}
//set background color light orange
body, .navbar-default {
  background-color: @light-orange;
}
//add some space between the tables shown in orders.html
.row-margin {
  margin-top: 5rem;
}
//image of table in orders.html
.round-table-img {
  background-image: url('roundtable.png');
  background-repeat: no-repeat;
}
//image of table in orders.html
.table-img {
  background-image: url('table.png');
  background-repeat: no-repeat;
}
//used to float the numbers over the tables in orders.html
figure {
     position: relative;
     text-align: center;
     img {
         width: 100%
     }
     figcaption {
         position: absolute;
         top: 40%;
         right: 45%
     }
}
//used to allow elements on both sides without messing with page flow in orders.html,
//used for curtomer ticket
.inline-block {
  display: inline-block;
}
//inherit inline-block and float the text over to the right, used in orders.html
.right-align {
  .inline-block;
  float: right;
}
//clear floats used in orders.html
.full-clear {
  clear: both;
}
//set the height and width of the buttons used to show categories in orders.html
.order-screen .categories {
  height: 10rem;
  width: 10rem;
  white-space: normal;
}
//inherit clear and align text center, used for arrows and text in orders.html
.arrows {
  text-align: center;
  .full-clear;
  overflow:hidden;
}
//float arrow left in orders.html
.left-chev {
  float: left;
  display: block;
}
//float arrow right in orders.html
.right-chev {
  float: right;
  display: block;
}
//set selected ticket item highlight color in orders.html
.active {
  color: @orange;
}
//set the height of both sections in orders.html
.order-screen {
  min-height: 40rem;
}
