@green500: #4CAF50;
@green700: #216224;
@a200: #FBA861;

//Deals witht he jumbotron banner done through bootstrap
.jumbotron {
    position: relative;
    background: #000 url('../img/restaurant_banner.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;
    text-shadow: 2px 2px @green700;
    font-family: 'Roboto', sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
  font-family: 'Oswald', sans-serif;
}
//set background color
body, .navbar-default {
  background-color: @green500;
}
.navbar-default {
  background-color: @green700;
  border-color: @green700;
}
//add some space between the tables shown in orders.html
.row-margin {
  margin-bottom: 4rem;
}
//used to float the numbers over the tables in orders.html
figure {
     position: relative;
     text-align: center;
     img {
         width: 100%
     }
}
figcaption {
  position: absolute;
}
.one-digit{
    top: 37%;
    right: 46%;
}
.two-digit{
    top: 38%;
    right: 43%;
}
//used to allow elements on both sides without messing with page flow in orders.html,
//used for curtomer ticket
.inline-block {
  display: inline-block;
}
//inherit inline-block and float the text over to the right, used in orders.html
.right-align {
  .inline-block;
  float: right;
}
//clear floats used in orders.html
.full-clear {
  clear: both;
}
//set the height and width of the buttons used to show choices in orders.html
.order-screen .choices {
  height: 10rem;
  width: 10rem;
  white-space: normal;
  float: left;
}
.order-screen ul li, .btn, .form-control, .cash-control {
  background-color: @a200;
}
.btn-success {
  color: black;
  opacity: 0.7;
}
//inherit clear and align text center, used for arrows and text in orders.html
.arrows {
  text-align: center;
  .full-clear;
  overflow:hidden;
}
//float arrow left in orders.html
.left-chev {
  float: left;
  display: block;
}
//float arrow right in orders.html
.right-chev {
  float: right;
  display: block;
}
//set selected ticket item highlight color in orders.html
.list-group-item.active, .list-group-item.active:hover,
.list-group-item:hover, .btn-default:hover, .btn-default:active:focus,
.btn-default:focus {
  background-color: @green700;
}
//set the height of both sections in orders.html
.order-screen {
  min-height: 40rem;
}
.totals {
  text-align: left;
}
.store, .table-text {
  text-align: center;
}
.display {
  .store;
  width: 30rem;
  min-height: 1px;
}
.center_div{
    margin: 0 auto;
    float: none;
}
footer {
    margin-top: 200px;
    width: 100%;
    height: 50px;
    text-align: center;
}
footer p {
    text-align: center;
}
.social {
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}
.social-bottom {
  max-width: 217px;
}
.social li {
    display: inline-block;
    margin: 5px;
}
.social i {
  color: @a200;
}
.login-border {
  border: 10px solid @green700;
}
.login-legend {
  width: 93px;
  border-bottom: none;
}
@media (min-width: 768px) {
  figcaption {
    font-size: 1.2em;
  }
}
@media (min-width: 992px) {
  figcaption {
    font-size: 1.6em;
  }
}
@media (min-width: 1200px) {
  figcaption {
    font-size: 2em;
  }
}
