<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-screen">
    <div class="store">
      <p>{{storeName}}</p>
      <p>{{address}}</p>
      <p>{{city}}, {{state}} {{zipCode}}</p>
      <p>{{checkStatus}}</p>
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="item in items">
        <div class="full-clear">
          <p class="inline-block">{{item.dish}}</p>
          <p class="inline-block right-align">{{item.cost}}</p>
          <p ng-if="notes != ''">{{item.notes}}</p>
        </div>
      </li>
    </ul>
      <div class="totals">
        <p>Tax: {{tax}}</p>
        <p>Total: {{total}}</p>
        <p>Recommended Tip: {{tip}}</p>
        <p>Total with Tip: {{recommendedTotal}}</p>
        <p>Paid: {{paid}}</p>
        <p>Change: {{change}}</p>
      </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-screen">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" ng-hide="menu" ng-click="categorySelect()" class="btn btn-default choices">Main Menu</button>
        <button type="button" ng-click="cash()" class="btn btn-default choices">Cash</button>
        <button type="button" disabled class="btn btn-default choices">Credit Card</button>
        <button type="button" disabled class="btn btn-default choices">Print Invididual Check</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <input type="text" class="cash-control" ng-model="cashAmount">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" ng-disabled="cashStatus" ng-click="numberClick(1)" class="btn btn-default choices">1</button>
        <button type="button" ng-disabled="cashStatus" ng-click="numberClick(2)" class="btn btn-default choices">2</button>
        <button type="button" ng-disabled="cashStatus" ng-click="numberClick(3)" class="btn btn-default choices">3</button>
        <button type="button" ng-disabled="cashStatus" ng-click="clear()" class="btn btn-default choices">C</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" ng-disabled="cashStatus" ng-click="numberClick(4)" class="btn btn-default choices">4</button>
        <button type="button" ng-disabled="cashStatus" ng-click="numberClick(5)" class="btn btn-default choices">5</button>
        <button type="button" ng-disabled="cashStatus" ng-click="numberClick(6)" class="btn btn-default choices">6</button>
        <button type="button" ng-disabled="cashStatus" ng-click="numberClick(0)" class="btn btn-default choices">0</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" ng-disabled="cashStatus" ng-click="numberClick(7)" class="btn btn-default choices">7</button>
        <button type="button" ng-disabled="cashStatus" ng-click="numberClick(8)" class="btn btn-default choices">8</button>
        <button type="button" ng-disabled="cashStatus" ng-click="numberClick(9)" class="btn btn-default choices">9</button>
        <button type="button" ng-disabled="cashStatus" ng-click="addDecimal()" class="btn btn-default choices">.</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" ng-disabled="fullyPaid" ng-click="calculate()" class="btn btn-default choices">Cash Out</button>
    </div>
  </div>

</div>
