<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-md-8 center_div">
        <h4>
          <p>Welcome to my program. As you can see, you need to login to be able to access this program. For the purpose of this program, I have supplied default user credentials:</p>
          <p>username: jack</p>
          <p>store number: 1</p>
          <p>password: ifts(8@3re)$</p>
        </h4>
      </div>
    </div>
    <div class="row">
      <form name="loginForm" class="col-xs-12 col-sm-8 col-md-8 col-md-8 center_div" autocomplete="off" ng-submit="login()">
        <fieldset class="login-border">
          <legend class="login-legend">Login Form:</legend>
          <div class="form-group">
            <input type="text" placeholder="username" ng-model="username" name="username" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="store number" ng-model="storeNumber" name="storeNumber" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="password" ng-model="password" name="password" class="form-control">
          </div>
          <div class="form-group text-center">
            <input type="submit" class="btn btn-success" value="Login">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
