<div class="row">
  <form name="loginForm">
      <div class="form-group">
        <input type="text" placeholder="username" ng-model="username" name="username" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" placeholder="store number" ng-model="storeNumber" name="storeNumber" name="password" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" placeholder="password" ng-model="password" name="password" class="form-control">
      </div>
      <div class="form-group text-center">
        <button type="submit" ng-click="login()" class="btn btn-success">Login</button>
      </div>
  </form>
</div>
