<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 order-screen">
    <button type="button" ng-show="menu" ng-click="selectTable()" class="btn btn-default choices">Table Select</button>
    <button type="button" ng-hide="menu" ng-click="categorySelect()" class="btn btn-default choices">Main Menu</button>
    <button type="button" class="btn btn-default choices" ng-click="menuItems($event)" ng-repeat="item in choices" data-id="{{item._id}}">{{item.name}}</button>
    <button type="button" ng-click="deleteItem()" ng-disabled="deleteStatus" class="btn btn-default choices">Delete Item</button>
    <button type="button" ng-click="addCheck()" class="btn btn-default choices">Add Check</button>
    <button type="button" ng-click="deleteCheck()" class="btn btn-default choices">Remove Empty Check</button>
    <button type="button" ng-click="checkout()" class="btn btn-default choices">Checkout</button>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 order-screen">
    <div class="arrows">
      <button type="button" class="btn btn-default left-chev" aria-label="Left Align" data-id="left" ng-click="nextTable($event)">
        <span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
      Table# {{tableNumber}} Guest # {{checkNumber}} Total Guests# {{count}}
      <button type="button" class="btn btn-default right-chev" aria-label="Right Align" data-id="right" ng-click="nextTable($event)">
        <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </div>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="item in items" data-id="{{item._id}}" ng-class="{active: isActive(item)}" ng-click="select(item)">
        <div class="full-clear">
          <p class="inline-block">{{item.dish}}</p>
          <p class="inline-block right-align">{{item.cost}}</p>
          <p ng-if="notes != ''">{{item.notes}}</p>
        </div>

  </div>
  </li>
  </ul>

</div>
</div>
