<div class="row row-margin">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
</div>
<div class="row row-margin">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
</div>
<div class="row row-margin">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="table.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="table.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="table.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="table.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img src="roundtable.png" alt="round table pic" class="img-responsive">
  </div>
</div>
