  <div class="row row-margin">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="1">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="one-digit">1</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="2">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="one-digit">2</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="3">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="one-digit">3</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="4">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="one-digit">4</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="5">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="one-digit">5</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="6">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="one-digit">6</figcaption>
      </figure>
    </div>
  </div>
  <div class="row row-margin">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="7">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="one-digit">7</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="8">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="one-digit">8</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="9">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="one-digit">9</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="10">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="two-digit">10</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="11">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="two-digit">11</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="12">
      <figure>
        <img src="../img/brown4persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="two-digit">12</figcaption>
      </figure>
    </div>
  </div>
  <div class="row row-margin">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="13">
      <figure>
        <img src="../img/brown6persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="two-digit">13</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="14">
      <figure>
        <img src="../img/brown6persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="two-digit">14</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="15">
      <figure>
        <img src="../img/brown6persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="two-digit">15</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="16">
      <figure>
        <img src="../img/brown6persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="two-digit">16</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="17">
      <figure>
        <img src="../img/brown6persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="two-digit">17</figcaption>
      </figure>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="table($event)" data-id="18">
      <figure>
        <img src="../img/brown6persontable.png" alt="round table pic" class="img-responsive">
        <figcaption class="two-digit">18</figcaption>
      </figure>
    </div>
  </div>
